In [2]:
import pandas as pd

In [3]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["linkedin_mentor"]
x = mycol.find()
df = pd.DataFrame(x)

In [4]:
df

,_id,name,job_title,address,profilePicture,about,education,experience,skills,honors_awards,...,cur_company,price,school_index,email,isAdmin,userType,createdAt,updatedAt,matching_point,skill_list
0,63009ed3d0d6cda767fcb672,Thanh Nguyen,Senior Solutions Architect at Amazon Web Servi...,"Ho Chi Minh City, Vietnam",[],"• With 20+ years of global experience, DevOps ...","{'0': {'Major': 'Master of Science - MS, Compu...",{'0': {'Company': 'Amazon Web Services (AWS) ...,"{'0': 'Business Intelligence', '1': 'Software ...",{'0': {'Issue': 'Issued by Ministry of Science...,...,Amazon,96,[],example@gmail.com,False,mentor,2022-08-23 15:04:31.801,2022-08-23 15:04:31.827,0.583333,"[1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, ..."
1,63009ed3d0d6cda767fcb673,Hung Hoang,Customer Solutions Manager at Amazon Web Servi...,"Ho Chi Minh City, Vietnam",https://media-exp1.licdn.com/dms/image/C4E03AQ...,Accelerating Cloud adoption…Accelerating Cloud...,"{'0': {'Major': 'Bachelors degree, Computer So...",{'0': {'Company': 'Amazon Web Services (AWS) ...,"{'0': 'Software Project Management', '1': 'Ind...","{'0': {'Issue': 'Issued by FPT Software', 'Hon...",...,Amazon,170,[118],example@gmail.com,False,mentor,2022-08-23 15:04:31.801,2022-08-23 15:04:31.827,0.000000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,63009ed3d0d6cda767fcb674,Robbie Ames,Project Manager at Amazon Web Services (AWS),"Seattle, Washington, United States",https://media-exp1.licdn.com/dms/image/D5635AQ...,"Creative, passionate and upbeat team focused m...","{'0': {'Major': 'BA, Sociology', 'School': 'Un...",{'0': {'Company': 'Amazon Web Services (AWS) ...,"{'0': 'Retail', '1': 'Merchandising', '2': 'In...",[],...,Amazon,98,[0],example@gmail.com,False,mentor,2022-08-23 15:04:31.801,2022-08-23 15:04:31.827,0.583333,"[0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,63009ed3d0d6cda767fcb675,PR B,Project Manager at Amazon web services (AWS),United States,[],[],"{'0': {'Major': 'Bachelors degree, Computer Sc...",{'0': {'Company': 'Amazon Web Services (AWS) ...,{},[],...,Amazon,182,[19],example@gmail.com,False,mentor,2022-08-23 15:04:31.801,2022-08-23 15:04:31.827,0.000000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,63009ed3d0d6cda767fcb676,Andrei Popa,Technical Project Manager at Amazon Web Services,"London, England, United Kingdom",https://media-exp1.licdn.com/dms/image/C4E03AQ...,Technical Program Manager handling all aspects...,[],{'0': {'Company': 'Technical Project Manager a...,"{'0': 'Linux', '1': 'Networking', '2': 'Troubl...",[],...,Amazon,152,[],example@gmail.com,False,mentor,2022-08-23 15:04:31.801,2022-08-23 15:04:31.827,0.000000,"[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
804,63009ed3d0d6cda767fcb996,Ramon de Boer,Security Specialist at Microsoft,"Amsterdam-Zuidoost, North Holland, Netherlands",[],[],[],"{'0': {'Company': 'Microsoft', 'Duration': 'Ap...","{'0': 'Security', '1': 'Cloud Computing', '2':...",[],...,Microsoft,188,[],example@gmail.com,False,mentor,2022-08-23 15:04:31.811,2022-08-23 15:04:31.829,0.000000,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ..."
805,63009ed3d0d6cda767fcb997,Taurayi Kaurayi,CISSP | CISA | OSCP | CEH Master | CCNA CyberO...,"City of Johannesburg, Gauteng, South Africa",https://media-exp1.licdn.com/dms/image/C4D03AQ...,Taurayi Trust Kaurayi is an experienced and qu...,"{'0': {'Major': 'Bachelor of Science (BSc), In...","{'0': {'Company': 'IBM', 'Duration': 'Nov 2018...","{'0': 'VPN', '1': 'CCNA', '2': 'Network Design...",[],...,IBM,96,[238],example@gmail.com,False,mentor,2022-08-23 15:04:31.811,2022-08-23 15:04:31.829,0.000000,"[0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, ..."
806,63009ed3d0d6cda767fcb998,Kirana Dhiatama Ayunda,"IT Specialist Security | CEH, eJPT, RHCSA, CSCU",Jakarta Metropolitan Area,[],"Hello! I am Kirana, currently working as IT Sp...",{'0': {'Major': 'Bachelor of Computer Informat...,"{'0': {'Company': 'IBM', 'Duration': 'Null', '...","{'0': 'Packet Tracer', '1': 'VMware', '2': 'Pe...",[],...,IBM,172,[],example@gmail.com,False,mentor,2022-08-23 15:04:31.811,2022-08-23 15:04:31.829,0.000000,"[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
807,63009ed3d0d6cda767fcb999,George Churchill,Head of EMEA Security Specialist SA,United Kingdom,https://media-exp1.licdn.com/dms/image/D4E35AQ...,[],"{'0': {'Major': 'Null', 'School': 'Kingston Un...",{'0': {'Company': 'Head of EMEA Security Speci...,"{'0': 'Microsoft Technologies', '1': 'Citrix',...","{'0': {'Issue': 'Issued by Dell Dec 2014', 'H...",...,SAP,106,[146],example@gmail.com,False,mentor,2022-08-23 15:04:31.811,2022-08-23 15:04:31.829,0.000000,"[0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, ..."
808,63009ed3d0d6cda767fcb99a,Mike Eldridge,Security & Compliance Specialist at Microsoft,"Austin, Texas, United States",https://media-exp1.licdn.com/dms/image/C4E03AQ...,[],"{'0': {'Major': 'Bachelors, Marketing', 'Schoo...",{'0': {'Company': 'Security & Compliance Speci...,"{'0': 'Enterprise Software', '1': 'Cloud Compu...",[],...,Microsoft,94,[207],example@gmail.com,False,mentor,2022-08-23 15:04:31.811,2022-08-23 15:04:31.829,0.583333,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, ..."

In [13]:
def listing_skill(row):
    skill = []
    skill_js = row.skills
    return list(skill_js.values())
df['skills'] = df.apply(lambda row : listing_skill(row), axis = 1)

In [14]:
df

,_id,name,job_title,address,profilePicture,about,education,experience,skills,honors_awards,...,cur_company,price,school_index,email,isAdmin,userType,createdAt,updatedAt,matching_point,skill_list
0,63009ed3d0d6cda767fcb672,Thanh Nguyen,Senior Solutions Architect at Amazon Web Servi...,"Ho Chi Minh City, Vietnam",[],"• With 20+ years of global experience, DevOps ...","{'0': {'Major': 'Master of Science - MS, Compu...",{'0': {'Company': 'Amazon Web Services (AWS) ...,"[Business Intelligence, Software Development, ...",{'0': {'Issue': 'Issued by Ministry of Science...,...,Amazon,96,[],example@gmail.com,False,mentor,2022-08-23 15:04:31.801,2022-08-23 15:04:31.827,0.583333,"[1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, ..."
1,63009ed3d0d6cda767fcb673,Hung Hoang,Customer Solutions Manager at Amazon Web Servi...,"Ho Chi Minh City, Vietnam",https://media-exp1.licdn.com/dms/image/C4E03AQ...,Accelerating Cloud adoption…Accelerating Cloud...,"{'0': {'Major': 'Bachelors degree, Computer So...",{'0': {'Company': 'Amazon Web Services (AWS) ...,"[Software Project Management, Industrial Inter...","{'0': {'Issue': 'Issued by FPT Software', 'Hon...",...,Amazon,170,[118],example@gmail.com,False,mentor,2022-08-23 15:04:31.801,2022-08-23 15:04:31.827,0.000000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,63009ed3d0d6cda767fcb674,Robbie Ames,Project Manager at Amazon Web Services (AWS),"Seattle, Washington, United States",https://media-exp1.licdn.com/dms/image/D5635AQ...,"Creative, passionate and upbeat team focused m...","{'0': {'Major': 'BA, Sociology', 'School': 'Un...",{'0': {'Company': 'Amazon Web Services (AWS) ...,"[Retail, Merchandising, Inventory Management, ...",[],...,Amazon,98,[0],example@gmail.com,False,mentor,2022-08-23 15:04:31.801,2022-08-23 15:04:31.827,0.583333,"[0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,63009ed3d0d6cda767fcb675,PR B,Project Manager at Amazon web services (AWS),United States,[],[],"{'0': {'Major': 'Bachelors degree, Computer Sc...",{'0': {'Company': 'Amazon Web Services (AWS) ...,[],[],...,Amazon,182,[19],example@gmail.com,False,mentor,2022-08-23 15:04:31.801,2022-08-23 15:04:31.827,0.000000,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,63009ed3d0d6cda767fcb676,Andrei Popa,Technical Project Manager at Amazon Web Services,"London, England, United Kingdom",https://media-exp1.licdn.com/dms/image/C4E03AQ...,Technical Program Manager handling all aspects...,[],{'0': {'Company': 'Technical Project Manager a...,"[Linux, Networking, Troubleshooting, Data Cent...",[],...,Amazon,152,[],example@gmail.com,False,mentor,2022-08-23 15:04:31.801,2022-08-23 15:04:31.827,0.000000,"[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
804,63009ed3d0d6cda767fcb996,Ramon de Boer,Security Specialist at Microsoft,"Amsterdam-Zuidoost, North Holland, Netherlands",[],[],[],"{'0': {'Company': 'Microsoft', 'Duration': 'Ap...","[Security, Cloud Computing, Network Security, ...",[],...,Microsoft,188,[],example@gmail.com,False,mentor,2022-08-23 15:04:31.811,2022-08-23 15:04:31.829,0.000000,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ..."
805,63009ed3d0d6cda767fcb997,Taurayi Kaurayi,CISSP | CISA | OSCP | CEH Master | CCNA CyberO...,"City of Johannesburg, Gauteng, South Africa",https://media-exp1.licdn.com/dms/image/C4D03AQ...,Taurayi Trust Kaurayi is an experienced and qu...,"{'0': {'Major': 'Bachelor of Science (BSc), In...","{'0': {'Company': 'IBM', 'Duration': 'Nov 2018...","[VPN, CCNA, Network Design, Servers, Routing, ...",[],...,IBM,96,[238],example@gmail.com,False,mentor,2022-08-23 15:04:31.811,2022-08-23 15:04:31.829,0.000000,"[0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, ..."
806,63009ed3d0d6cda767fcb998,Kirana Dhiatama Ayunda,"IT Specialist Security | CEH, eJPT, RHCSA, CSCU",Jakarta Metropolitan Area,[],"Hello! I am Kirana, currently working as IT Sp...",{'0': {'Major': 'Bachelor of Computer Informat...,"{'0': {'Company': 'IBM', 'Duration': 'Null', '...","[Packet Tracer, VMware, Penetration Testing, P...",[],...,IBM,172,[],example@gmail.com,False,mentor,2022-08-23 15:04:31.811,2022-08-23 15:04:31.829,0.000000,"[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
807,63009ed3d0d6cda767fcb999,George Churchill,Head of EMEA Security Specialist SA,United Kingdom,https://media-exp1.licdn.com/dms/image/D4E35AQ...,[],"{'0': {'Major': 'Null', 'School': 'Kingston Un...",{'0': {'Company': 'Head of EMEA Security Speci...,"[Microsoft Technologies, Citrix, Solution Arch...","{'0': {'Issue': 'Issued by Dell Dec 2014', 'H...",...,SAP,106,[146],example@gmail.com,False,mentor,2022-08-23 15:04:31.811,2022-08-23 15:04:31.829,0.000000,"[0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, ..."
808,63009ed3d0d6cda767fcb99a,Mike Eldridge,Security & Compliance Specialist at Microsoft,"Austin, Texas, United States",https://media-exp1.licdn.com/dms/image/C4E03AQ...,[],"{'0': {'Major': 'Bachelors, Marketing', 'Schoo...",{'0': {'Company': 'Security & Compliance Speci...,"[Enterprise Software, Cloud Computing, SharePo...",[],...,Microsoft,94,[207],example@gmail.com,False,mentor,2022-08-23 15:04:31.811,2022-08-23 15:04:31.829,0.583333,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, ..."

In [411]:
def convert_str_list(row, col_name):
    ls = row[col_name].replace("'", '')
    res = ls.strip('][').split(', ')
    return res
def convert_int_list(row, col_name):
    res = []
    if(type(row[col_name]) != float):
        ls = row[col_name].replace("'", '')
        res = ls.strip('][').split(', ')
        res = [int(i) for i in res]
    return res
import ast
def convert_str_dict(row, col_name):
    return ast.literal_eval(row[col_name])
from datetime import datetime
def date_re(row, col_name):
    return datetime.now()

In [416]:
# df['school_list'] = df.apply(lambda row : convert_str_list(row, 'school_list'), axis = 1)
# df['languages'] = df.apply(lambda row : convert_str_list(row, 'languages'), axis = 1)
# df['school_index'] = df.apply(lambda row : convert_int_list(row, 'school_index'), axis = 1)
# df['education'] = df.apply(lambda row : convert_str_dict(row, 'education'), axis = 1)
# df['Experience'] = df.apply(lambda row : convert_str_dict(row, 'Experience'), axis = 1)
# df['honors_awards'] = df.apply(lambda row : convert_str_dict(row, 'honors_awards'), axis = 1)
# df['Publication'] = df.apply(lambda row : convert_str_dict(row, 'Publication'), axis = 1)
# df['399'] = df.apply(lambda row : convert_str_dict(row, '399'), axis = 1)
# df['createdAt'] = df.apply(lambda row : date_re(row, 'createdAt'), axis = 1)
# df['updatedAt'] = df.apply(lambda row : date_re(row, 'updatedAt'), axis = 1)

In [480]:
def matching_point(mentors, mentee):
    scores = []
    for index, mentor in mentors.iterrows():
        #skills first
        score = 0
        skill_match = 0
        count_skill = sum(map(lambda x : x == 1, mentee.skill_list[0]))
        for skill in range(len(mentor.skill_list)):
            if((mentor.skill_list[skill] == mentee.skill_list[0][skill]) and mentee.skill_list[0][skill] == 1):
                skill_match = skill_match +1
        score = skill_match/count_skill *3.5
        
        #company score
        if(mentee.cur_company[0] == mentor.cur_company):
            score = score + 0.5
            
         #location score
        if(mentee.location[0] == mentor.location):
            score = score + 0.5
            
        #school_index score
        school_match =0
        for sch in mentee.school_index[0]:
            if(sch in mentor.school_index):
                school_match = school_match + 1
        score = score + school_match/len(mentee.school_index[0])*0.5
            
        scores.append(score)  
    mentors_temp = mentors
    mentors_temp['matching_point'] = scores
    return mentors_temp

In [481]:
def mentee_setting():
    mentee = pd.DataFrame(columns = {'skill_list','cur_company', 'school_index', 'location' })
    arr_ = [0] * 501
    arr_[1] = 1
    arr_[100] = 1
    arr_[201] = 1
    arr_[88] = 1
    arr_[34] = 1
    arr_[300] = 1
    
    mentee['skill_list'] = [arr_]
    mentee['cur_company'] = 'Amazon'
    mentee['location'] = 'Vietnam'
    mentee['school_index'] = [[0, 3]]
    
    return mentee

In [482]:
mentee = mentee_setting()
mentee

,cur_company,skill_list,school_index,location
0,Amazon,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 3]",Vietnam

In [483]:
matching_point(df, mentee).sort_values(by=['matching_point'], ascending = False)

,_id,name,job_title,address,profilePicture,about,education,experience,skills,honors_awards,...,cur_company,price,school_index,email,isAdmin,userType,createdAt,updatedAt,matching_point,skill_list
570,63009ed3d0d6cda767fcb8ac,Shashank T.,Technology Leader at Amazon Web Services (AWS),Miami-Fort Lauderdale Area,[],Shashank Tanksali is currently responsible for...,{'0': {'Major': 'Masters in Business Administr...,{'0': {'Company': 'Amazon Web Services (AWS) ...,"{'0': 'Integration', '1': 'SOA', '2': 'Enterpr...",[],...,Amazon,188,"[3, 55]",example@gmail.com,False,mentor,2022-08-23 15:04:31.808,2022-08-23 15:04:31.828,3.083333,"[0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, ..."
608,63009ed3d0d6cda767fcb8d2,Jaffer Syed,IT Director at Dell Technologies,"Hyderabad, Telangana, India",https://media-exp1.licdn.com/dms/image/C5603AQ...,"People/Delivery Management, Technology Expert(...","{'0': {'Major': 'Null', 'School': 'Kakatiya Un...",{'0': {'Company': 'IT Director at Dell Technol...,"{'0': 'Requirements Analysis', '1': 'Oracle', ...",{'0': {'Issue': 'Issued by Executive Director ...,...,Dell,170,[],example@gmail.com,False,mentor,2022-08-23 15:04:31.809,2022-08-23 15:04:31.828,2.333333,"[0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, ..."
555,63009ed3d0d6cda767fcb89d,Viktor Katchoura,Engineering Manager | Head of Digital | Techno...,New York City Metropolitan Area,https://media-exp1.licdn.com/dms/image/C4E03AQ...,Engineering Manager and Business Solution Arch...,"{'0': {'Major': 'Applied Mathematics', 'School...","{'0': {'Company': 'Meta', 'Duration': 'May 202...","{'0': 'SDLC', '1': 'Java', '2': 'Agile Methodo...",[],...,Meta,108,[],example@gmail.com,False,mentor,2022-08-23 15:04:31.808,2022-08-23 15:04:31.828,2.333333,"[1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, ..."
532,63009ed3d0d6cda767fcb886,Breck Morrison,Technology Leader at Amazon,"Denver, Colorado, United States",https://media-exp1.licdn.com/dms/image/C4D03AQ...,Senior Technology Executive with over 25 years...,"{'0': {'Major': 'Bach, Electrical Engineering'...",{'0': {'Company': 'Technology Leader at Amazon...,"{'0': 'Integration', '1': 'Agile Methodologies...",{'0': {'Issue': 'Issued by Executive Team Mar...,...,Amazon,160,[205],example@gmail.com,False,mentor,2022-08-23 15:04:31.808,2022-08-23 15:04:31.828,2.250000,"[1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, ..."
177,63009ed3d0d6cda767fcb723,Shifa Samreen,Developer | Designer | MIT Innovation Leadersh...,"Delhi, India",https://media-exp1.licdn.com/dms/image/C5603AQ...,Blog:- https://medium.com/shifa-samreenGithub:...,"{'0': {'Major': 'Null', 'School': 'Massachuset...","{'0': {'Company': 'Amazon Full-time', 'Durati...","{'0': 'Java 8', '1': 'Python', '2': 'Spring Bo...",{'0': {'Issue': 'Issued by MIT Bootcamps Nov ...,...,Amazon,102,"[9, 156, 135]",example@gmail.com,False,mentor,2022-08-23 15:04:31.803,2022-08-23 15:04:31.827,2.250000,"[0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,63009ed3d0d6cda767fcb860,Ana Paula De Jesus Assis,General Manager EMEA at IBM,"Madrid, Community of Madrid, Spain",https://media-exp1.licdn.com/dms/image/C4D03AQ...,Senior executive with 20+ years of experience ...,"{'0': {'Major': 'MBA, Business Administration'...",{'0': {'Company': 'General Manager EMEA at IBM...,"{'0': 'Outsourcing', '1': 'IT Service Manageme...",[],...,IBM,188,"[6, 121]",example@gmail.com,False,mentor,2022-08-23 15:04:31.808,2022-08-23 15:04:31.828,0.000000,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ..."
493,63009ed3d0d6cda767fcb85f,Lauren Suto,"Sr. Technical Program Manager, Advanced Techno...","Reno, Nevada, United States",https://media-exp1.licdn.com/dms/image/C5603AQ...,Operations and Engineering Leader with a prove...,{'0': {'Major': 'Master of Business Administra...,"{'0': {'Company': 'Google Full-time', 'Durati...","{'0': 'Continuous Improvement', '1': 'Manufact...",[],...,Google,124,[28],example@gmail.com,False,mentor,2022-08-23 15:04:31.808,2022-08-23 15:04:31.828,0.000000,"[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ..."
492,63009ed3d0d6cda767fcb85e,Prakash Shanbhag,Engineering @ Google | Ex-Hotstar | Ex-Grab,"Bengaluru, Karnataka, India",https://media-exp1.licdn.com/dms/image/C4D03AQ...,Learning @ GoogleLearning @ Google,"{'0': {'Major': 'MTech, Telecommunication', 'S...","{'0': {'Company': 'Google Full-time', 'Durati...","{'0': 'HTML', '1': 'JavaScript', '2': 'CSS', '...",{'0': {'Issue': 'Issued by Synopsys (India) Pv...,...,Google,106,"[4, 34]",example@gmail.com,False,mentor,2022-08-23 15:04:31.808,2022-08-23 15:04:31.828,0.000000,"[0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, ..."
262,63009ed3d0d6cda767fcb778,Răzvan Cîrlugea,Front-End Developer | Web Development Instructor,"Bucharest, Romania",https://media-exp1.licdn.com/dms/image/C4D03AQ...,"I’m a Front-End Developer and Instructor, pass...","{'0': {'Major': 'Bachelors degree, Computer Sc...","{'0': {'Company': 'Adobe Full-time', 'Duratio...","{'0': 'JavaScript', '1': 'React.js', '2': 'Nod...",[],...,Adobe,152,"[13, 126]",example@gmail.com,False,mentor,2022-08-23 15:04:31.805,2022-08-23 15:04:31.827,0.000000,"[0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, ..."
404,63009ed3d0d6cda767fcb806,Tiberiu Oprea,Mobile Applications Developer at IBM,"Braşov, Romania",https://media-exp1.licdn.com/dms/image/C4E03AQ...,Currently working on Salesforce platform.Exper...,"{'0': {'Major': 'High School, IT Software Pasc...","{'0': {'Company': 'IBM Full-time', 'Duration'...","{'0': 'Swift', '1': 'Xcode', '2': 'Agile Proje...",[],...,IBM,90,[],example@gmail.com,False,mentor,2022-08-23 15:04:31.807,2022-08-23 15:04:31.828,0.000000,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [15]:
import pymongo

myclient = pymongo.MongoClient("mongodb+srv://hiennguyen:abcd1234!@sepm.bpsnvmz.mongodb.net/?retryWrites=true&w=majority")
mydb = myclient["test"]
mycol = mydb["users"]
x = mycol.drop()
x = mycol.insert_many(df.to_dict('records'))
#db.collection.insert_many