In [48]:
import numpy as np
import pandas as pd
import json
#!pip3 install fuzzywuzzy
import numpy as np

In [97]:
# Import dataframe into MySQL
import sqlalchemy
def etl_mysql():
    database_username = 'root'
    database_password = 'rmit2001'
    database_ip       = 'localhost'
    database_name     = 'LINKEDIN_USER'
    database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
                                                   format(database_username, database_password, 
                                                          database_ip, database_name))
    return database_connection

In [98]:
conn = etl_mysql()

1. Listing school for every mentor to filter search

In [231]:
profile = "Select * from profile"
profile = pd.read_sql(profile, conn)

In [232]:
def listing_school(row):
    school = []
    school_js = json.loads(row.Education)
    for js in school_js:
        school.append(school_js[js]['School'])
    return school
#apply function
profile['school_list'] = profile.apply(lambda row : listing_school(row), axis = 1)

In [233]:
def listing_company(row):
    experience = []
    experience_js = json.loads(row.Experience)
    for js in experience_js:
        if(len(experience_js[js]['Company']) != 0):
            experience.append(experience_js[js]['Company'][0])
    return experience
profile['experience_list'] = profile.apply(lambda row : listing_company(row), axis = 1)

In [1]:
def listing_skill(row):
    skill = []
    skill_js = json.loads(row.Skill)
    return list(skill_js.values())
profile['skill_list'] = profile.apply(lambda row : listing_skill(row), axis = 1)

In [235]:
profile['Education'] = profile.apply(lambda row : json.loads(row.Education), axis = 1)
profile['Experience'] = profile.apply(lambda row : json.loads(row.Experience), axis = 1)
profile['Skill'] = profile.apply(lambda row : json.loads(row.Skill), axis = 1)
profile['Honors & awards'] = profile.apply(lambda row : json.loads(row['Honors & awards']), axis = 1)
profile['Languages'] = profile.apply(lambda row : json.loads(row['Languages']), axis = 1)
profile['Publication'] = profile.apply(lambda row : json.loads(row['Publication']), axis = 1)

In [236]:
profile['Country'] = profile.apply(lambda row : row['Location'].split(',')[-1].strip(), axis = 1)

In [238]:
def convert(row):
    for ele in row.Experience.keys():
        if(len(row.Experience[ele]['Company']) > 0 and len(row.Experience[ele]['Job Title'])):
            row.Experience[ele]['Company'] = row.Experience[ele]['Company'][0]
            row.Experience[ele]['Job Title'] = row.Experience[ele]['Job Title'][0]
    return row
profile['Experience'] = profile.apply(lambda row : convert(row), axis = 1)

In [239]:
profile['username'] = profile['id'].astype(str) + 'asdfgh'
#!pip install bcrypt
import bcrypt
pwd = 'abc1234!'
profile['password'] = pwd
# bytePwd = pwd.encode('utf-8')
# # Generate salt
# mySalt = bcrypt.gensalt(10)
# # Hash password
# hash = bcrypt.hashpw(bytePwd, mySalt)
# profile['password'] = hash

## Preprocessing Current Company

In [240]:
def remove_experience_noise(row):
    if(len(row.experience_list) > 0):
        for key in list(row.Experience):
            if(type(row.Experience[key]['Company']) == list):
                row.Experience.pop(key, None)
    return row

In [241]:
#some company name is in list type, it's related to the scraping error with noise like : [2y3r , fulltime]. The solution is take the Jobtitle as the Company Name
def preprocessing_experience(row):
    if(len(row.Experience) and type(row.Experience['0']['Company']) == list):
            row.Experience['0']['Company'] = row['Job Title']
            row.experience_list[0] = row.Experience['0']['Company']
    return row
for i  in range(len(profile)):
    preprocessing_experience(profile.iloc[i])
    remove_experience_noise(profile.iloc[i])

In [242]:
#take the first company as current company
def current_company(row):
    if(len(row.experience_list) > 0):
        return row.experience_list[0]
profile['current_company']=profile.apply(lambda row : current_company(row), axis = 1)

In [243]:
#listing top 50 Company
company_query = "Select * from Companies"
companies = pd.read_sql(company_query, conn)

In [244]:
def partial_match(x,y):
    return(fuzz.partial_ratio(Str1.lower(),Str2.lower()))
partial_match_vector = np.vectorize(partial_match)

companies['Key'] = 1
profile['Key'] = 1
combined_dataframe = profile.merge(companies,on="Key",how="left")

def fuzzy_match(row):
    Str1 = str(row.current_company)
    Str2 = str(row.Company)
    return fuzz.partial_ratio(Str1.lower(),Str2.lower())

In [245]:
combined_dataframe['score']=combined_dataframe.apply(lambda row : fuzzy_match(row), axis = 1)
combined_dataframe = combined_dataframe[combined_dataframe.score>=80]
final = combined_dataframe.set_index(combined_dataframe['id']).drop(columns = {'id', 'experience_list', 'current_company', 'Key', 'index', 'score'})

In [247]:
import random
res = [random.randrange(90, 200, 2) for i in range(809)]
final['price'] = res

In [248]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["linkedin_mentor"]
x = mycol.drop()
x = mycol.insert_many(final.to_dict('records'))
#db.collection.insert_many

## Preprocessing Schools

In [417]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["linkedin_mentor"]
x = mycol.find()

In [418]:
df = pd.DataFrame(x)
#df.drop(columns = {'skill_list'}, inplace = True)

In [151]:
from itertools import chain
import collections
schools = list(chain.from_iterable(list(df.school_list)))
schools = dict(collections.Counter(schools).most_common())
school_df = pd.DataFrame({"School": schools.keys(),"Occurence": schools.values() })

In [52]:
#school_df[school_df.Occurence > 1].to_sql("School", conn)

In [152]:
school_df = school_df[school_df.Occurence > 1]

In [153]:
#Convert column with list of values into rows in Pandas DataFrame
test = df[['_id', 'school_list']]
test = test.explode('school_list')
test.explode('school_list')

                          _id                     school_list
0    62f212cb5f58588f34fd873a  VNUHCM - University of Science
0    62f212cb5f58588f34fd873a        HCM Education University
1    62f212cb5f58588f34fd873b                  FPT University
2    62f212cb5f58588f34fd873c        University of Washington
3    62f212cb5f58588f34fd873d             New York University
..                        ...                             ...
805  62f212cb5f58588f34fd8a5f    Bulawayo Polytechnic College
806  62f212cb5f58588f34fd8a60               Telkom University
807  62f212cb5f58588f34fd8a61             Kingston University
807  62f212cb5f58588f34fd8a61                Shiplake college
808  62f212cb5f58588f34fd8a62          Texas State University

[1600 rows x 2 columns]

In [154]:
school_df = pd.read_sql("select * from School", conn).rename(columns = {'index' : 'school_index'})

In [155]:
df2 = pd.merge(left=test, right=school_df[['School','school_index' ]], left_on='school_list', right_on='School').drop(columns = {'School'})

In [156]:
#Pandas Group Rows into List Using groupby()
df2 = pd.DataFrame(df2.groupby('_id')['school_index'].apply(list))

In [157]:
df = pd.merge(left=df, right=df2, left_on='_id', right_on='_id', how = 'left')

In [405]:
df.head()

,_id,name,job_title,address,profilePicture,about,education,Experience,399,honors_awards,...,cur_company,price,school_index,email,isAdmin,userType,createdAt,updatedAt,skill_list,matching_point
0,63009ed3d0d6cda767fcb672,Thanh Nguyen,Senior Solutions Architect at Amazon Web Servi...,"Ho Chi Minh City, Vietnam",[],"• With 20+ years of global experience, DevOps ...","{'0': {'Major': 'Master of Science - MS, Compu...",{'0': {'Company': 'Amazon Web Services (AWS) ...,"{'0': 'Business Intelligence', '1': 'Software ...",{'0': {'Issue': 'Issued by Ministry of Science...,...,Amazon,96,NaN,example@gmail.com,False,mentor,2022-08-16 15:50:25.770,2022-08-16 15:50:25.770,"[1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, ...",0.583333
1,63009ed3d0d6cda767fcb673,Hung Hoang,Customer Solutions Manager at Amazon Web Servi...,"Ho Chi Minh City, Vietnam",https://media-exp1.licdn.com/dms/image/C4E03AQ...,Accelerating Cloud adoption…Accelerating Cloud...,"{'0': {'Major': 'Bachelors degree, Computer So...",{'0': {'Company': 'Amazon Web Services (AWS) ...,"{'0': 'Software Project Management', '1': 'Ind...","{'0': {'Issue': 'Issued by FPT Software', 'Hon...",...,Amazon,170,[118],example@gmail.com,False,mentor,2022-08-16 15:50:25.770,2022-08-16 15:50:25.770,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.000000
2,63009ed3d0d6cda767fcb674,Robbie Ames,Project Manager at Amazon Web Services (AWS),"Seattle, Washington, United States",https://media-exp1.licdn.com/dms/image/D5635AQ...,"Creative, passionate and upbeat team focused m...","{'0': {'Major': 'BA, Sociology', 'School': 'Un...",{'0': {'Company': 'Amazon Web Services (AWS) ...,"{'0': 'Retail', '1': 'Merchandising', '2': 'In...",[],...,Amazon,98,[0],example@gmail.com,False,mentor,2022-08-16 15:50:25.770,2022-08-16 15:50:25.770,"[0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.583333
3,63009ed3d0d6cda767fcb675,PR B,Project Manager at Amazon web services (AWS),United States,[],[],"{'0': {'Major': 'Bachelors degree, Computer Sc...",{'0': {'Company': 'Amazon Web Services (AWS) ...,{},[],...,Amazon,182,[19],example@gmail.com,False,mentor,2022-08-16 15:50:25.770,2022-08-16 15:50:25.770,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.000000
4,63009ed3d0d6cda767fcb676,Andrei Popa,Technical Project Manager at Amazon Web Services,"London, England, United Kingdom",https://media-exp1.licdn.com/dms/image/C4E03AQ...,Technical Program Manager handling all aspects...,[],{'0': {'Company': 'Technical Project Manager a...,"{'0': 'Linux', '1': 'Networking', '2': 'Troubl...",[],...,Amazon,152,NaN,example@gmail.com,False,mentor,2022-08-16 15:50:25.770,2022-08-16 15:50:25.770,"[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.000000

## Preprocessing Skills

In [247]:
skills = list(chain.from_iterable(list(df.skill_list)))
skills = dict(collections.Counter(skills).most_common())
skill_df = pd.DataFrame({"Skill": skills.keys(),"Occurence": skills.values() })

In [248]:
skill_df = skill_df.replace('GitHub', 'Github')
skill_df = skill_df.replace('.NET Framework', '.NET')
skill_df = skill_df.replace("Python (Programming Language)", 'Python')
skill_df = skill_df.replace("Artificial Intelligence (AI)", 'Artificial Intelligence')
skill_df = skill_df.replace("C (Programming Language)", 'C')
skill_df = skill_df.replace('java', 'Java')

In [249]:
skill_df = skill_df[skill_df.Occurence > np.mean(skill_df.Occurence)]

In [250]:
skill_df = skill_df.groupby('Skill').sum().reset_index()

In [251]:
skill_df.sort_values(by=['Occurence'], ascending=False, inplace = True)

In [252]:
skill_df = skill_df.reset_index().drop(columns = {'index'})

In [256]:
#skill_df.to_sql("skill", conn)

In [403]:
skill_df

     index                 Skill  Occurence
0        0    Project Management        458
1        1            Management        449
2        2            JavaScript        429
3        3                  Java        413
4        4            Leadership        357
..     ...                   ...        ...
496    496  Project Coordination         10
497    497            Portuguese         10
498    498              PhoneGap         10
499    499    People Development         10
500    500         jQuery Mobile         10

[501 rows x 3 columns]

In [262]:
df = df.rename(columns ={'Name': 'name', 'Job Title' : 'job_title', 'Image' : 'profilePicture', 'About' : 'about', 'Location' : 'location', 'Education': 'education', 'skill_list' : 'skills_list', 'Company': 'cur_company'})

In [404]:
df.columns

Index(['_id', 'name', 'job_title', 'address', 'profilePicture', 'about',
       'education', 'Experience', '399', 'honors_awards', 'Publication',
       'languages', 'school_list', 'location', 'username', 'password',
       'cur_company', 'price', 'school_index', 'email', 'isAdmin', 'userType',
       'createdAt', 'updatedAt', 'skill_list', 'matching_point'],
      dtype='object')

In [265]:
df['email'] = "example@gmail.com"

In [288]:
from datetime import datetime

In [291]:
df['followers'] = list
df['followings'] = list
df['isAdmin'] = False
df['userType'] = 'mentor'
df['createdAt'] = datetime.now()
df['updatedAt'] = datetime.now()

In [311]:
df.drop(columns = {'followers','followings' }, inplace = True)

In [305]:
pip install pymongo

Requirement already satisfied: pymongo in /Users/vananhhuynh/opt/anaconda3/lib/python3.9/site-packages (4.1.1)
WARNING: Error parsing requirements for jupyter: [Errno 2] No such file or directory: '/Users/vananhhuynh/opt/anaconda3/lib/python3.9/site-packages/jupyter-1.0.0.dist-info/METADATA'
Note: you may need to restart the kernel to use updated packages.

In [427]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["linkedin_mentor"]
x = mycol.drop()
x = mycol.insert_many(df.to_dict('records'))
#db.collection.insert_many

In [314]:
# import pymongo

# myclient = pymongo.MongoClient("mongodb+srv://hiennguyen:abcd1234!@sepm.bpsnvmz.mongodb.net/?retryWrites=true&w=majority")
# mydb = myclient["test"]
# mycol = mydb["users"]
# x = mycol.drop()
# x = mycol.insert_many(df.to_dict('records'))
# #db.collection.insert_many

In [421]:
skills = []
for i in range(len(df)):
    skill_arr = [0]*501
    skill_ls = df.iloc[i].skilsss
    for skill in skill_ls:
        if(len(skill_df[skill_df.Skill == skill]) > 0):
            skill_arr[skill_df[skill_df.Skill == skill].index[0]] = 1
    skills.append(skill_arr)